.map-title {
    background-color: rgba(96, 210, 255, 0.2);
    border-color: rgb(98, 179, 255);
    border-style: solid;
    border-width:1px;
    padding: 2px 10px;
    color: rgb(98, 179, 255);
}
.map-title h1 {
    font-size: 22pt;
    margin: 0;
}

.map-indicator {
    background-color: rgba(96, 210, 255, 0.2);
    border-color: rgb(98, 179, 255);
    border-style: solid;
    border-width:1px;
    padding: 2px 10px;
    color: rgb(98, 179, 255);
    padding: 2px 10px;
}
.map-indicator .datetime {
    font-size: 24pt;
}

.leaflet-tile-container img {
    filter: invert(100%) hue-rotate(180deg);
}
